<div *ngIf="isOpen === false"> 

  <div class="pos-btn">
    <div class="menu-btn" (click)="menuLogic()" [ngClass]="{'' : !isOpen}">
      <div class="menu-btn__burger"></div>
  </div>
  </div>


</div>


<div *ngIf="isOpen === true"> 
  <div class="bg-menu">
    <div class="pos-btn">
      <div class="menu-btn open" (click)="menuLogic()" [ngClass]="{'bg-menu-2': isOpen}" >
        <div class="menu-btn__burger2" ></div>
    </div>
  </div>
    <div class="flex-menu">
      <div class="f20 navbar-text">
        <a (click)="toProyects()">
          Proyectos
        </a>

      </div>
      <hr>
      <div class="f20 navbar-text">
        Habilidades
      </div>
      <hr>
      <div class="f20 navbar-text">
        Quien Soy
      </div>
      <hr>
      <div class="f20 navbar-text">
        Contacto
      </div>
      <hr>
      <div class="f20 navbar-text">
        Descargar CV
      </div>
    </div>
  <div >

  </div>

</div>
</div>


<script src="main.js"></script>

