<div>
  <div class="proyectos-title f60">
    Portfolio
    <p class="proyectos-subtitle f20">Mis últimos proyectos</p>
  </div>
  <div class="flex-proyectos" *ngFor="let proyects of proyectos">
    <div
      class="container-proyectos"
      [ngStyle]="{ 'background-image': 'url(' + proyects.bg + ')' }"
    >
      <div class="texto-proyectos f40">
        {{ proyects.title }}
        <p class="subtitle-proyectos f20">{{ proyects.subtitle }}</p>
      </div>

      <a [href]="proyects.link" target="_blank">
        <button class="button">
          {{ proyects.button }}
          <div class="button__horizontal"></div>
          <div class="button__vertical"></div>
        </button>
      </a>
    </div>
  </div>
</div>
