<div>
  <div class="proyectos-title f60">
    Portfolio
    <p class="proyectos-subtitle f20">Mis últimos proyectos</p>
  </div>
  <div class="flex-proyectos">
    <div class="container-proyectos">
      <div class="texto-proyectos f40">
        Nahuel P2P
        <p class="subtitle-proyectos f20">Exchange de Cryptomonedas</p>
        <a [routerLink]="['/nahuelP2P']" >
          <button class="button">
            Más Detalles
            <div class="button__horizontal"></div>
            <div class="button__vertical"></div>
          </button>
        </a>
       
      </div>
    
    </div>
    <div class="container-proyectos-1">
      <div class="texto-proyectos f40">
        Exchange PP
        <p class="subtitle-proyectos f20">Exchange de divisas</p>
        <button class="button">
          Más Detalles
          <div class="button__horizontal"></div>
          <div class="button__vertical"></div>
        </button>
      </div>
    
    </div>
    <div class="container-proyectos-2">
      <div class="texto-proyectos f40">
        Nft Royale
        <p class="subtitle-proyectos-2 f20">Juego Basado en la Block-Chain</p>
        <button class="button">
          Más Detalles
          <div class="button__horizontal"></div>
          <div class="button__vertical"></div>
        </button>
      </div>
    </div>
  </div>
</div>