<div class="bg-footer">
  <div class="grid-footer">
    <div class="pos-imgs-footer">
      <a href="https://www.linkedin.com/in/agustin-policano/" target="_blank">
        <img src="../../../assets/img/linkedinglogofooter.png" class="img-footer"/>
      </a>
    </div>
    <div class="pos-imgs-footer">
      <a href="https://github.com/AgustinPolicano" target="_blank">
        <img src="../../../assets/img/githublogofooter.png"  class="img-footer"/>
      </a>
    </div>
    <div class="pos-imgs-footer">
      <a  href="https://www.facebook.com/agustin.policano/" target="_blank">
        <img src="../../../assets/img/faceboologofooter.png"  class="img-footer"/>
      </a>
    </div>
  </div>

  <div>
    <p class="f16 text-footer">®™ Agustin Policano 2021-2022</p>
  </div>
</div>
