<div>
  <div class="proyectos-title2 f60 ">
    Experiencia
    <p class="proyectos-subtitle f20">Experiencia real trabajando para algunas empresas! :D <span class="emotes">&#129308;</span></p>
  </div>
  <div class="container-exp">
      <div class="flex-exp">
        <div>
          <button class="buttons-exp" (click)="setBanhaia()" [ngClass]="{'hover-bar': isBanhaia === true}">Banhaia</button>
        </div>
        <div>
          <button class="buttons-exp" (click)="setAccusys()" [ngClass]="{'hover-bar': isAccusys === true}">Accusys Tecnhology</button>
        </div>
        <div>
          <button class="buttons-exp" (click)="setSeenka()" [ngClass]="{'hover-bar': isSeenka === true}">Seenka</button>
        </div>
      </div>
  </div>

</div>