<div>
  <div class="proyectos-title f60">
    Habilidades
    <p class="proyectos-subtitle f20">Mis habilidades como programador</p>
  </div>

  <div class="grid-habilidades">
    <div class="bg-habilidades">
      <img src="../../../assets/img/angular-log.png" class="img-habilidades">
      <p class="f18 text-habilidades">Angular (1.5 Años)</p>
    </div>
    <div  class="bg-habilidades">
      <img src="../../../assets/img/react-logo.png" class="img-habilidades">
      <p class="f18 text-habilidades">React (6 Meses)</p>
    </div>
    <div  class="bg-habilidades">
      <img src="../../../assets/img/figma-logo.png" class="img-habilidades">
      <p class="f18 text-habilidades">Figma</p>
    </div>
    <div  class="bg-habilidades">
      <img src="../../../assets/img/api-logo.png" class="img-habilidades">
      <p class="f18 text-habilidades">Manejo de apis</p>
    </div>
    <div  class="bg-habilidades">
      <img src="../../../assets/img/ps-logo.png" class="img-habilidades">
      <p class="f18 text-habilidades">Photoshop</p>
    </div>
    <div  class="bg-habilidades">
      <img src="../../../assets/img/git-logo.png" class="img-habilidades">
      <p class="f18 text-habilidades">Git</p>
    </div>
  </div>
</div>




