<div class="container-dialog">
  <div class="flex-dialog">
    <div class="title-dialog f40">
      Sobre Mi
    </div>
    <div class="outer" (click)="closeDialog()">
      <div class="inner">
        <label>Atras</label>
      </div>
    </div>
    
  </div>
  
  <p class="subtitle-dialog f16">Programador Front-End</p>
  <p class="f16 description-dialog">
¡Hola! Gracias por pasarte por mi Portafolio, mi nombre es Agustin Policano, tengo 19 años y soy oriundo de <span class="f16">Argentina</span>.
Empecé a <span class="f16">programar</span> por primera vez de manera autodidacta <span class="f16">(HTML y CSS)</span> hace alrededor de unos 2 años, siento que cada linea de codigo escrita en el editor es parte de todo un circuito al que yo y seguro miles de personas mas, consideramos <span class="f16">arte</span>.
Actualmente sigo intentando mejorar dia a dia en <span class="f16"> Angular </span> desempeñandome como Programador Front-end.
  </p>


  <div class="flex-dialog-footer">
    <div>
      <img src="../../../assets/img/githublogo.png" class="img-dialog-footer">
    </div>
    <div>
      <img src="../../../assets/img/linkedinlogo.png" class="img-dialog-footer">
    </div>
    <div>
      <img src="../../../assets/img/faceboologo.png" class="img-dialog-footer">
    </div>
    <div>
      <img src="../../../assets/img/instagramlogo.png" class="img-dialog-footer">
    </div>
  </div>

</div>